{% extends 'base.html' %}

{% block content %}
<h3>Resume Feedback</h3>

<ul class="list-group">
    <li class="list-group-item"><strong>Name:</strong> {{ feedback.name }}</li>
    <li class="list-group-item"><strong>Email:</strong> {{ feedback.email }}</li>
    <li class="list-group-item"><strong>Extracted Skills:</strong> {{ feedback.skills | join(', ') }}</li>
    <li class="list-group-item text-danger"><strong>Skill Gaps:</strong> {{ feedback.skill_gaps | join(', ') }}</li>
</ul>

<h5 class="mt-4">Recommendations</h5>
<ul class="list-group">
    {% for suggestion in feedback.recommendations %}
        <li class="list-group-item">{{ suggestion }}</li>
    {% endfor %}
</ul>
{% endblock %}
